.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid black;
  margin: 3px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-transform: uppercase;
}

.current-guess {
  outline: 2px solid black;
}

.incorrect {
  background-color: lightgray;
}

.partially-correct {
  background-color: yellow;
}

.correct {
  background-color: green;
}

.notification {
 padding: 10px;
 border: 2px solid black;
 margin: 5px;
}

.success {
  background-color: green;
}

.error {
  background-color: indianred;
}

.warning {
  background-color: orange;
}

h1 {
  padding: 10px;
  background-color: lightblue;
  margin-bottom: 5px;
  border: 1px solid black;
}